.custom-toolbar {
    height: calc(100vh * 0.1);
    background-color: rgb(13, 63, 78);
    color: white;
    
.example-app-name{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600

}


  }